/* base css
 * author: binux<17175297.hk@gmail.com> 
 * global {{{ */

a.cross-cookie { color: #c00 !important; text-decoration: none !important; padding: 7px; text-align: center; font-size: 17px; font-weight: bold; background-color: #ffc4c4; color: #c00; display: block; }
#disabled_cross_cookie dd { font-weight: bold; margin-top: 5px; }
#disabled_cross_cookie ul { list-style-type: disc; padding-left: 30px; }
.hidden { display: none; }

/* }}} globak
 *
 * layout-top {{{ */

#layout-top {
  line-height: 40px;
  height:40px;
  background-color:#F0F0F0;
  background: white url('../img/bg-stripe.png') repeat scroll 0 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .05);
  -ms-box-shadow: 0 0 3px rgba(0, 0, 0, .05);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, .05);
  box-shadow: 0 0 3px rgba(0, 0, 0, .05);
  border-bottom: 1px solid #EAEAEA;
  position: fixed; /*果断Fixed,无视IE*/
  top:0;
  left:0;
  width:100%;
  overflow: visible;
  z-index: 66;
}
  #layout-top #top-left { font-size: 24px; margin-left: 40px; float:left; }
  #layout-top #top-right { float: right; display: inline; width: auto; height: auto; margin-right: 30px; font-size: 12px; }
  #layout-top #top-left a,
  #layout-top #top-left a:visited {
    color: #333;
    -moz-transition: color .15s linear;
    -webkit-transition: color .15s linear;
    -o-transition: color .15s linear;
    transition: color .15s linear;
    outline: none;
    text-decoration: none;
  }
  #layout-top #top-right .menu { float: left; padding: 0; margin: 0; list-style: none; }
  #layout-top #top-right .menu li {
    float: left;
    position: relative;
    width: auto;
    list-style-type: none;
    background: url('../img/sep.png') no-repeat scroll 100% 13px;
  }
  #layout-top #top-right .menu .last { background: none; }
  #layout-top #top-right .menu li a, #layout-top #top-right .menu li span {
    display: block;
    color: #333;
    position: relative;
    font-size: 13px;
    padding: 2px 12px;
    text-decoration: none;
    outline:none;
    -moz-transition: color .15s linear;
    -webkit-transition: color .15s linear;
    -o-transition: color .15s linear;
    transition: color .15s linear;

  }
  #layout-top #top-right .menu li a:hover { color: #f26536; }
  #layout-top #search { float:left; margin-left: 40px; text-align: left; padding-top: 6px; line-height: 28px; }
  #layout-top form { display: inline; }
  #layout-top #search-q {
    border: none;
    width: 222px;
    height: 26px;
    margin: 1px 0px 1px 30px;
    background-color: transparent;
    font-size: 12px;
    line-height: 20px;
    outline: none;
  }

/* }}} layout-top
 *
 * layout-background {{{ */

#layout-background { z-index:-99; }

  #layout-background .logo { position: fixed; bottom: 0; width: 200px; height: 540px; }
  @media screen and (min-width: 1190px) { #layout-background .logo { left: 200px; } }
  @media screen and (min-width: 990px) and (max-width: 1190px) { #layout-background .logo { right: 790px; } }
  @media screen and (max-width: 990px) { #layout-background .logo { left: 0; } }
    #layout-background .logo .text {
      margin-top: 170px;
      margin-left: -170px;
      width: 540px;
      height: 200px;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      /*writing-mode: lr-tb;*/
    }
    #layout-background .logo .text { font-size: 130px; }

/* }}} layout-background
 *  
 *  layout-info {{{ */

@media (min-height: 680px) {
  #layout-info .info-box {
    float: left;
    position: fixed;
    top: 50%;
    width: 200px;
    height: 600px;
    margin-top: -300px;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
    background-color: rgba(250, 250, 250, 0.9);
    box-shadow: 5px 5px 5px #dedede;
    overflow: hidden;
  }
}
@media (max-height: 680px) { 
  #layout-info .info-box {
    float: left;
    position: fixed;
    top: 35px;
    width: 200px;
    height: 600px;
    border-bottom-right-radius:25px;
    background-color: rgba(250, 250, 250, 0.9);
    box-shadow: 5px 5px 5px #dedede;
    overflow: hidden;
  }
}
    #layout-info .info-box .important { font-weight: bold; }

    #layout-info .info-box #download-help { margin: 20px 10px; }
    #layout-info .info-box #download-help a { color: #000; }
    #layout-info .info-box #download-help dd { font-size: 20px; font-weight: bold; clear: both; margin-top: 10px; }

    #layout-info .info-box #tag-list { margin: 10px; height: 460px; overflow: hidden; }
    #layout-info .info-box #tag-list span { font-weight: bold; font-size: 130%; }
    #layout-info .info-box #tag-list a { color: #000; }
    #layout-info .info-box #tag-list li { float: left; margin-right: 10px; }
    /*#layout-info .info-box #tag-list li.tag-size-type-1 { font-size: 100%; }*/
    /*#layout-info .info-box #tag-list li.tag-size-type-2 { font-size: 100%; }*/
    /*#layout-info .info-box #tag-list li.tag-size-type-3 { font-size: 100%; }*/
    /*#layout-info .info-box #tag-list li.tag-size-type-4 { font-size: 100%; }*/

    #layout-info .info-box #author-info { position: absolute; bottom: 0; margin: 20px 10px; width: 170px; }
    #layout-info .info-box #author-info dd { font-weight: bold; clear: both; }
    #layout-info .info-box #author-info dt { margin-left: 5px; float: right; background: #eee; border: 1px solid #ddd; padding: 0 1px; color: #888; border-radius: 2px; }
    #layout-info .info-box #author-info dt a { color: #36C; text-decoration: none; }

    #layout-info .info-box a.goback { text-decoration: none; }
    #layout-info .info-box #goback-button { position: absolute; left: 0; bottom: 30px; font-size: 20px; font-weight: bold; padding: 10px 35px 10px 20px; background-color: #666; color: #fff; border-top-right-radius: 10px; border-bottom-right-radius: 10px; }

/* }}} layout-info
 *
 * layout-list {{{ */

#layout-list { position: relative; z-index: 2; }
@media (min-width: 1170px) { #layout-list { margin-left: 400px; } }
@media (max-width: 1170px) { #layout-list { float: right; width: 770px; } }

    #layout-list .task-list .push-top { margin-top: 60px; }
    #layout-list .task-list .push-bottom { margin-top: 40px; }

    #layout-list .task-list .task-item,
    #layout-list .task-list .file-item {
      position: relative;
      height: 40px;
      background: white;
      line-height: 40px;
      font-size: 15px;
      border-top-left-radius:15px;
      border-bottom-left-radius:15px;
      padding: 0 10px 0 20px;
    }
    #layout-list .task-list .file-item:hover {
      border-color: #dedede;
      border-width: 2px 0 2px 2px;
      border-style: solid;
      height: 36px;
      line-height: 36px;
    }
    #layout-list .task-list .task-item-hover {
      position: absolute;
      top: -18px;
      right: 0;
      z-index: 33;
      width: 100%;
      box-sizing: border-box;
      -ms-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      border-color: #dedede;
      border-width: 2px 0 2px 2px;
      border-style: solid;
      height: 76px;
      line-height: 36px;
      border-top-left-radius:38px;
      border-bottom-left-radius:38px;
    }
    #layout-list .task-list .share-task-item { background-color: #666; color: #fff; padding: 7px 10px 7px 20px; height: auto;
                                               border-color: #dedede; border-width: 2px 0 2px 2px; border-style: solid; line-height: 36px;
                                               position: relative; font-size: 15px; border-top-left-radius:30px; border-bottom-left-radius:30px; }
    #layout-list .task-list .share-task-item a { color: #fff; }
    #layout-list .task-list .share-task-item .share-tname { line-height: 21px; margin-right: 150px; }
      #layout-list .process-bar {
        position: absolute;
        right: 0;
        height: 100%;
        border-top-left-radius:30px;
        border-bottom-left-radius:30px;
      }
      #layout-list .task-item-hover .process-bar {
        z-index: -1;
        border-top-left-radius:38px;
        border-bottom-left-radius:38px;
      }
      #layout-list .waiting { background-color: #f0f0f0; }
      #layout-list .downloading { background-color: #dfd; }
      #layout-list .finished { background-color: transparent; }
      #layout-list .failed { background-color: #FFC4C4; }
      #layout-list .paused { background-color: #E6F4FF; }
      #layout-list .task-list a { color: #000000; text-decoration: none; }
      #layout-list .task-list a:visited { color: #888; }
      #layout-list .task-list a:hover,
      #layout-list .task-list a:hover span { color: #888; text-decoration: underline; }
      #layout-list .task-list .tname {
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 150px;
        padding-right: 200px;
        font-weight: bold;
      }
      #layout-list .task-list .tname .p2 { position: absolute; width: 200px; }

      #layout-list .task-list .info { position: absolute; right: 0; top: 0; }
      #layout-list .task-list .info span { margin-right: 10px; float: right; }

      #layout-list .task-list .ext-info {
        line-height: 20px; margin-top: 5px;
      }
      #layout-list .task-list .ext-info .uploader { float: right; margin-right: 10px; }
      #layout-list .task-list .ext-info .tags { float: left; }
      #layout-list .task-list .ext-info span a { text-decoration: underline; }
      #layout-list .task-list .add2lixian { position: absolute; right: 10px; top: 0; margin-top: 6px; width: auto; line-height: 20px; padding: 1px 5px; }
/* }}} layout-info 
 * global {{{*/
.task-button { float: right; font-weight: bold; border-radius: 5px; width: 70px; height: 21px; text-align: center;
               background-color: #fff; color: #666; position: relative; margin-left: 10px; }
.task-button:hover { color: #fff; background-color: #888; }
.task-button:hover a { color: #fff !important; }
.task-button a { color: #666; text-decoration: none !important; }
.more-links { position: absolute; top: 21px; z-index: 33; }
.more-links .task-button { color: #fff; background-color: #999; margin: 0; }
.more-links .task-button:hover { color: #fff; background-color: #888; margin: 0; }
.task-item .task-button { color: #fff; background-color: #999; }
.task-item .task-button:hover { color: #fff; background-color: #888; }
/* }}} lixian_box {{{ */
  .lixian-box { width: 100%; }
    .lixian-box .task-info { padding: 5px 10px 5px 10px; background-color: #666; color: #fff; font-weight: bold; }
    .lixian-box .task-info .task-name { float: left; width: 500px; }
      /*.lixian-box .task-info .finished { }*/
      /*.lixian-box .task-info .downloading { }*/
      /*.lixian-box .task-info .waiting { }*/

    .lixian-box .file-list { margin-top: 10px; }
      .lixian-box .file-list .file-item { position: relative; padding: 5px 10px 5px 10px; }
        .lixian-box .file-list .file-item .process-bar { position: absolute; top: 0; right: 0; height: 100%; z-index: -1;}
        .lixian-box .file-list .file-item .waiting { background-color: #f0f0f0; }
        .lixian-box .file-list .file-item .downloading { background-color: #dfd; }
        .lixian-box .file-list .file-item .finished { background-color: transparent; }
        .lixian-box .file-list .file-item .failed { background-color: #FFC4C4; }
        .lixian-box .file-list .file-item .paused { background-color: #E6F4FF; }

        .file-title { float: left; width: 610px; }
        .lixian-box .file-list .file-item .file-size { position: absolute; right: 10px; bottom: 5px; }
        .lixian-box .file-list .file-item .file-2lixian { position: absolute; right: 10px; bottom: 5px; width: auto; padding: 1px 5px; }

    .lixian-box #link-text { width: 100%; border: none; }
/* }}} lixian_box */
