<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>{% block title %}{{ options.site_name }} - 迅雷离线下载分享{% end %}</title>
<!--[if lte IE 9]><script type="text/javascript">location = "/noie";</script><![endif]-->
<link rel="stylesheet" href="{{static_url('css/reset.css')}}" type="text/css" />
<link rel="stylesheet" href="{{static_url('css/base.css')}}" type="text/css" />
{% block head %}{% end %}
<meta name="keywords" content="迅雷 迅雷离线 ACG 资源分享 下载" />
<meta name="description" content="{% block desc %}{{ options.site_name }} - 基于迅雷离线服务的ACG资源分享/下载网站{% end %}" />
{% if options.ga_account %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ options.ga_account }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% end %}
</head>
<body>
{% block body %}{% end %}
</body>
{% block foot %}{% end %}
</html>
