<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>{% block title %}迅雷离线分享 - LOLI.LU{% end %}</title>
<!--[if IE]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="stylesheet" href="{{static_url('css/reset.css')}}" type="text/css" />
<link rel="stylesheet" href="{{static_url('css/base.css')}}" type="text/css" />
{% block head %}{% end %}
{% if options.ga_account %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ options.ga_account }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% end %}
<meta name="description" content="{% block desc %}loli.lu 基于迅雷离线服务的ACG资源分享网站{% end %}" />
</head>
<body>
{% block body %}{% end %}
</body>
{% block foot %}{% end %}
</html>
