{% extends front.html %}

{% block info %}
{% if handler.get_cookie("cross-cookie") == options.cross_cookie_version %}
{% raw modules.TagList() %}
{% else %}
{% include info.html %}
{% end %}
{% include author_info.html %}
{% end %}

{% block list %}
<ul class="task-list">
  <li class="push-top"></li>
  {% raw modules.TaskItems(tasks) %}
  <li class="push-bottom"></li>
</ul>
{% end %}

{% block foot %}
<script>
  function _gc(name) {
    return document.getElementsByClassName(name);
  }
  var OnResize = function() {
    var tnames = _gc("tname");
    for(var i=0; i<tnames.length; i++) {
      var tname = tnames[i];
      if (tnames[i].offsetWidth-200 < tnames[i].firstChild.offsetWidth) {
        tnames[i].lastChild.setAttribute("style", "right: 0;");
      } else {
        tnames[i].lastChild.removeAttribute("style");
      }
    }
  }
  OnResize();
  window.onresize = OnResize;

  //load next page
  var next_page_sent = false;
  $('#content').bind("scroll", function() {
		var Content = document.getElementById("content");
		
    if (Content.scrollTop + $('#content').height() == Content.scrollHeight && !next_page_sent) {
      // load next page
      next_page_sent = true;
      $.get("/next", {
          s: $(".task-item:last").attr("data-task-id"),
          q: {% raw json_encode(query.get('q', '')) %},
          t: {% raw json_encode(query.get('t', '')) %},
          a: {% raw json_encode(query.get('a', '')) %},
         },
            function(content) {
              if ($.trim(content) == "") {
                $(".task-list").unbind("scroll");
              } else {
                $(".task-list .push-bottom").before(content);
								if (columns == 2) $('.task-item').addClass('layout-2c');
                if (typeof test_column == 'function') test_column();
                next_page_sent = false;
              }
            });
    }
  });

  // get lixian url fancybox
  $(".get-lixian-url").fancybox({ width: 700 });

  // move to effect.js later.
  
var columns = 1;

$(document).ready(function(){

  // list item hover support.

  $(".task-item").hover(function() {
  	if (columns != 1) return;
    $(this).find(".additional-info").delay(500).show(1);
  }, function() {
  	if (columns != 1) return;
    $(this).find(".additional-info").stop(true, true).hide();
  });
  
  // width fit support.

	var fit_box = function(){
		var height_sum_left = 0;
		var height_sum_right = 0;
		
		$('.task-list').children('.task-item').each(function(index){
			if (height_sum_left <= height_sum_right)
			{
				$(this).css({float:'left'});
				height_sum_left += $(this).height();
			}
			else
			{
				$(this).css({float:'right'});
				height_sum_right += $(this).height();
			}
		});

	}

  test_column = function(){
  	if ((columns == 1) && ($('.task-list').width() > 800)){
  		columns = 2;
  		$('.additional-info').css({display : 'inline'});
  		$('.task-item').addClass('layout-2c');
		} 
  	if ((columns == 2) && ($('.task-list').width() < 800)){
  	  columns = 1;
  		$('.additional-info').css({display : 'block'});;
  		$('.additional-info').hide();
  		$('.task-item').removeClass('layout-2c');
		}
		$('.task-list').children('.task-item').each(function(index){
			$(this).find('.task-item-wp').css({height:'auto'});
			$(this).find('.title-info-break').css({height:0});
		});
		if (columns == 2)
			fit_box();
	}
	
	test_column();

  $(window).resize(function() {
  	test_column();
	});
});

</script>
{% end %}
