{% extends front.html %}

{% block info %}
{% include info.html %}{% include author_info.html %}
{% end %}

{% block list %}
<ul class="task-list">
  <li class="push-top"></li>
  {% raw modules.TaskItems(tasks) %}
  <li class="push-bottom"></li>
</ul>
{% end %}

{% block foot %}
<script>
  function _gc(name) {
    return document.getElementsByClassName(name);
  }
  var OnResize = function() {
    var tnames = _gc("tname");
    for(var i=0; i<tnames.length; i++) {
      var tname = tnames[i];
      if (tnames[i].offsetWidth-200 < tnames[i].firstChild.offsetWidth) {
        tnames[i].lastChild.setAttribute("style", "right: 0;");
      } else {
        tnames[i].lastChild.removeAttribute("style");
      }
    }
  }
  OnResize();
  window.onresize = OnResize;

  //load next page
  var next_page_sent = false;
  $(".task-list").bind("scroll", function() {
    if ($(".task-list .push-bottom").offset().top  < $(window).height() * 1.2 && !next_page_sent) {
      // load next page
      next_page_sent = true;
      $.get("/next",
            {s: $(".task-item:last").attr("data-task-id"), q: {% raw json_encode(q) %}},
            function(content) {
              if ($.trim(content) == "") {
                $(".task-list").unbind("scroll");
              } else {
                $(".task-list .push-bottom").before(content);
                next_page_sent = false;
              }
            });
    }
  });

  //get lixian url fancybox
  $(".get-lixian-url").fancybox({ width: 700 });
</script>
{% end %}
