<dl id="download-help">
  <dd>1.</dd>
  <dt>
    <div class="important">下载安装 跨站cookie UserScirpt / 本地</div>
    <div>由于迅雷离线需要验证用户的cookie，我们需要通过一个userscirpt（类似浏览器插件）来完成跨站cookie注入。</div>
  </dt>
  <dd>2.</dd>
  <dt>
    <div class="important">退出已经登录的迅雷帐号</div>
    <div>注入的cookie可能和您原有的帐号冲突。在使用前请退出已经登录的迅雷帐号。</div>
  </dt>
  <dd>3.</dd>
  <dt>
    <div class="important">开始下载吧！</div>
    <div>或者，您也可以添加一个资源！</div>
  </dt>
</dl>
<dl id="author-info">
  <dd>WriteBy</dd> <dt>+足兆叉虫</dt>
  <dd>PowerBy</dd> <dt>+Martian Z</dt>
</dl>
