<dl id="download-help">
  <dd>1.</dd>
  <dt>
  <div class="important">下载安装UserScript支持插件。</div>
  <div>
      <b>Firefox:</b> <a href="https://addons.mozilla.org/zh-CN/firefox/addon/greasemonkey/" target="_blank">Greasemonkey</a> / <a href="https://addons.mozilla.org/zh-CN/firefox/addon/scriptish/" target="_blank">Scriptish</a><br />
      <b>Chrome:</b> <a href="https://chrome.google.com/webstore/detail/dhdgffkkebhmkfjojejmpbldmpobfkfo" target="_blank">Tampermonkey</a> <br />
      <b>Safari:</b> <a href="http://d.hatena.ne.jp/os0x/20100612/1276330696" target="_blank">NinjaKit</a> <br />
  </div>
  </dt>
  <dd>2.</dd>
  <dt>
  <div class="important">下载安装 跨站cookie <a href="{{ options.cross_userscript }}" target="_blank">UserScirpt</a> / <a href="{{ options.cross_userscript_local }}" target="_blank">本地安装</a></div>
    <div>当前版本：{{ options.cross_cookie_version }}</div>
  </dt>
  <dd>3.</dd>
  <dt>
    <div class="important">开始下载吧！</div>
    <div>或者，您也可以使用Google账户登录后添加资源，或是直接获取离线下载地址</div>
  </dt>
</dl>
