{% extends base.html %}

{% block title %}{{ options.site_name }} - {{ task.taskname }} - 迅雷离线下载分享{% end %}
{% block desc %}{% if task.tags %}TAGS:{{ ", ".join(task.tags) }}{% end %} UP主:{{ email2name(task.creator) or task.creator or "unknow" }}{% end %}

{% block head %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script> !window.jQuery && document.write('<script type="text/javascript" src=\"{{static_url("js/jquery-1.4.3.min.js")}}\"><\/script>'); </script>
<script type="text/javascript" src="{{static_url('js/fancybox/jquery.fancybox-1.3.4.pack.js')}}"></script>
<link rel="stylesheet" href="{{static_url('js/fancybox/jquery.fancybox-1.3.4.css')}}" type="text/css" media="screen" />
<link rel="canonical" href="{{ request.protocol }}://{{ request.host }}/share/{{ task.id }}" />
{% end %}

{% block body %}
<div class="lixian-box">
{% if not options.using_xss %}
  <a href="{{ options.cross_userscript or static_url(options.cross_userscript) }}" target="_blank" class="cross-cookie{% if handler.disabled_userjs() %} hidden{% end %}" data-site="{{ options.cross_cookie_url }}" data-cookie="{{ cookie }}" data-version="{{ options.cross_cookie_version }}">您尚未安装或需要升级 cross-cookie 点击前往UserScript.org安装</a>
{% end %}

  <div class="task-info">
    <div class="task-name">{{ task.taskname }}</div>
    {% if task.status == "finished" %}
    <div id="share-button" class="task-button">
      <a href="/share/{{ task.id }}" target="_blank"><div>分享</div></a>
      <div id="share-links" class="more-links" style="display: none;">
        <a href="javascript:share_google();" title="分享到 Google+"><div class="task-button">Google+</div></a>
        <a href="javascript:share_twitter();" title="分享到 Twitter+"><div class="task-button">Twitter</div></a>
        <a href="javascript:share_sina();" title="分享到 新浪微博"><div class="task-button">新浪微博</div></a>
        <a href="javascript:share_qq();" title="分享到 腾讯微博"><div class="task-button">腾讯微博</div></a>
        <a href="javascript:share_douban();" title="分享到 豆瓣"><div class="task-button">豆瓣</div></a>
      </div>
    </div>
    <div id="batch-button" class="task-button">
      <div>批量下载</div>
      <div id="batch-links" class="more-links" style="display: none;">
        <!--<a href="#" onclick="copy_links(); return false;"><div class="task-button">copy</div></a>-->
        <a href="#" onclick="wget_links(); return false"><div class="task-button">wget</div></a>
        <a href="#" onclick="aria2_links(); return false"><div class="task-button">aria2 x6</div></a>
        <a href="/export/{{ url_escape(options.site_name) }}_idm_{{ task.id }}_{{ url_escape(task.taskname.replace(" ", "_")) }}.ef2"><div class="task-button">IDM 导出</div></a>
      </div>
    </div>
    {% else %}
    <div class="task-button">
      <a href="/share/{{ task.id }}" target="_blank">
        <div class="{{ task.status }}">{{ format_status(task.status) }}</div>
      </a>
    </div>
    {% end %}
    <div class="clearfix"></div>
  </div>
  <ul class="file-list">
    {% for file in files %}
    <li class="file-item">
      <div class="process-bar {{ file.status }}" style="width: {{ 100-file.process }}%"></div>
      {% if file.lixian_url %}
      <a class="file-title" href="{{ file.lixian_url }}" target="_blank">{{ file.title }}</a>
      {% else %}
      <div class="file-title">{{ file.title }}</div>
      {% end %}
      <div class="file-size">{{ format_size(file.size) }}</div>
      <div class="clearfix"></div>
    </li>
    {% end %}
  </ul>
  <div>
    <textarea id="link-text" style="display: none;"></textarea>
  </div>
</div>
<div class="hidden">
  <a href="#disabled_cross_cookie" id="disable-helper"></a>
  <div id="disabled_cross_cookie">
    <dl>
      <dd>您已经禁用或尚未安装跨站Cookie脚本，无法使用浏览器直接下载。</dd>
      <dt>
        <ul>
          <li><a href="javascript:$.fancybox.close();">好吧，我使用批量下载功能下载</a></li>
          <li><a href="{{ options.cross_userscript }}" target="_blank">我要使用浏览器直接下载资源</a></li>
        </ul>
      </dt>
    </dl>
  </div>
</div>
{% end %}

{% block foot %}
<script type="text/javascript">
  $("#batch-button").hover(function() {
    $("#batch-links").show();
  }, function() {
    $("#batch-links").hide();
  });

  $("#share-button").hover(function() {
    $("#share-links").show();
  }, function() {
    $("#share-links").hide();
  });

  function get_links() {
    var result = [];
    $.each($("ul.file-list a"), function(i, n) {
      n = $(n);
      result.push({url: n.attr("href"), title: n.text()});
    });
    return result;
  }

  function get_cookie() {
    return "{{ cookie }}".split(";")[0];
  }

  var alpha = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
  function escape_command(str) {
    var result = "";
    for (var i = 0; i < str.length; i++) {
      if (alpha.indexOf(str[i]) == -1)
        result += "\\"+str[i];
      else
        result += str[i];
    }
    return result;
  }

  function copy_links() {
    $("ul.file-list").hide();
    var str = "";
    $.each(get_links(), function(i, n) {
      str += n.url+"\n";
    });
    $("#link-text").text(str);
    $("#link-text").show();
    $("#link-text").get(0).style.height=$("#link-text").get(0).scrollHeight+"px"
  }

  function wget_links() {
    $("ul.file-list").hide();
    var str = "";
    var cookie = get_cookie();
    $.each(get_links(), function(i, n) {
      str += "wget -c -O "+escape_command(n.title)+" --header 'Cookie:"+cookie+";' '"+n.url+"'\n";
    });
    $("#link-text").text(str);
    $("#link-text").show();
    $("#link-text").get(0).style.height=$("#link-text").get(0).scrollHeight+"px"
  }

  function multiple_server_fix(url) {
     return "'"+url.replace("gdl", "'{gdl,dl.{f,g,h,i,twin}}'")+"'";
  }
  function aria2_links() {
    $("ul.file-list").hide();
    var str = "";
    var cookie = get_cookie();
    $.each(get_links(), function(i, n) {
      str += "aria2c -c -s6 -x5 -j30 --out "+escape_command(n.title)+" --header 'Cookie:"+cookie+";' "+multiple_server_fix(n.url)+"\n";
    });
    $("#link-text").text(str);
    $("#link-text").show();
    $("#link-text").get(0).style.height=$("#link-text").get(0).scrollHeight+"px"
  }

  var w=480;
  var h=480;
  var x=Number((window.screen.width-w)/2);
  var y=Number((window.screen.height-h)/2);
  var share_url = {% raw json_encode(request.protocol+"://"+request.host+"/share/"+str(task.id)) %};
  var share_title = {% raw json_encode(task.taskname+u" - 迅雷离线下载分享 - "+options.site_name) %};
  function share_google() {
    window.open("https://plusone.google.com/_/+1/confirm?url="+share_url+"&title="+share_title,"","width="+w+",height="+h+",left="+x+",top="+y+",scrollbars=no");
  }
  function share_twitter() {
    window.open("https://twitter.com/intent/tweet?source=webclient&text="+share_title+"&url="+share_url,"","width="+w+",height="+h+",left="+x+",top="+y+",scrollbars=no");
  }
  function share_sina() {
    window.open("http://v.t.sina.com.cn/share/share.php?url="+share_url+"&title="+share_title,"","width="+w+",height="+h+",left="+x+",top="+y+",scrollbars=no");
  }
  function share_qq() {
    window.open("http://v.t.qq.com/share/share.php?url="+share_url+"&title="+share_title,"","width="+w+",height="+h+",left="+x+",top="+y+",scrollbars=no");
  }
  function share_douban() {
    window.open("http://www.douban.com/recommend/?url="+share_url+"&title="+share_title,"","width="+w+",height="+h+",left="+x+",top="+y+",scrollbars=no");
  }

  $("#disable-helper").fancybox();
  {% if handler.disabled_userjs() %}
  $("a.file-title").click(function() {
    $("#disable-helper").click();
    return false;
  });
  {% end %}
</script>
<script>
  {% if options.using_xss %}
  if ($.browser.msie){ 
    document.write('<script type="text/javascript" src="/xssjs?v=2"><\/script>');
  } else {
    document.write('<script type="text/javascript" src="/xssjs"><\/script>');
  }
  {% end %}
</script>
{% end %}
