{% extends front.html %}

{% block body-top %}
  <div class="cross-cookie" data-site="{{ options.cross_cookie_url }}" data-cookie="{{ cookie }}"><a href="{{ options.cross_userscript or static_url(options.cross_userscript) }}" target="_blank">您尚未安装cross-cookie UserScript 点击前往安装</a></div>
{% end %}

{% block info %}
  {% include info.html %}
  <a class="goback" href="/"><div id="goback-button">&lt;- 回到首页</div></a>
{% end %}

{% block list %}
<ul class="task-list">
  <li class="push-top"></li>
  <li class="share-task-item task-item">
    {% if task.status in ('waiting', 'downloading') %}
    <div class="process-bar {{ task.status }}" style="width: {{ 100-task.process }}%"></div>
    {% end %}
    <div class="tname" title="{{ task.taskname }}"><span class="p1">{{ task.taskname > 15 and task.taskname[:-15] or task.taskname }}</span><span class="p2">{{ task.taskname > 15 and task.taskname[-15:]}}</span></div>
    <div class="info"><span class="file-size">{{ format_size(task.size) }}</span><span class="date">{{ datetime.date.fromtimestamp(1321183338.524105).strftime("%Y-%m-%d") }}</span></div>
    <div class="clearfix"></div>
  </li>

  {% for file in files %}
  <li class="task-item">
    {% if file.status in ('waiting', 'downloading') %}
    <div class="process-bar {{ file.status }}" style="width: {{ 100-file.process }}%"></div>
    {% end %}
    {% if file.lixian_url %}
    <a class="get-lixian-url iframe" href="{{ file.lixian_url }}" target="_blank" title="{{ file.title }}"><div class="tname"><span class="p1">{{ len(file.title) > 15 and file.title[:-15] or file.title }}</span><span class="p2">{{ len(file.title) > 15 and file.title[-15:] or "" }}</span></div></a>
    {% else %}
    <div class="tname"><span class="p1">{{ len(file.title) > 15 and file.title[:-15] or file.title }}</span><span class="p2">{{ len(file.title) > 15 and file.title[-15:] or "" }}</span></div>
    {% end %}
    <div class="info"><span class="file-size">{{ format_size(file.size) }}</span></div>
    <div class="clearfix"></div>
  </li>
  {% end %}
  <li class="push-bottom"></li>
</ul>
{% end %}

{% block foot %}
<script>
  function _gc(name) {
    return document.getElementsByClassName(name);
  }
  var OnResize = function() {
    var tnames = _gc("tname");
    for(var i=0; i<tnames.length; i++) {
      var tname = tnames[i];
      if (tnames[i].offsetWidth-200 < tnames[i].firstChild.offsetWidth) {
        tnames[i].lastChild.setAttribute("style", "right: 0;");
      } else {
        tnames[i].lastChild.removeAttribute("style");
      }
    }
  }
  OnResize();
  window.onresize = OnResize;
</script>
{% end %}
