{% for task in tasks %}
<li class="task-item" data-task-id="{{ task.id }}"><div class="task-item-wp">
  <div class="process-bar {{ task.status }}" style="width: {{ 100-task.process }}%"></div>
  <div class="title">
  	<h3><a class="get-lixian-url iframe" href="/get_lixian_url?task_id={{ task.id }}" target="_blank" title="{{ task.taskname }}">
  		{{ task.taskname }} 
  	</a></h3>
  </div>
  <div class='title-info-break'></div>
  <div class="prime-info">
      <span class="file-size">{{ format_size(task.size) }}</span>
      <span class="date">{{ task.createtime.strftime("%Y-%m-%d") }}</span>
  </div>
  <div class='pa-info-break'></div>
  <div class="additional-info">
    <span class="tags">标签: {% raw modules.TagsModule(task.tags) %}</span>
    <span class="uploader">共享者: {{ email2name(task.creator) or task.creator or "unknow" }}</span>
  </div>
  <div class="clearfix"></div>
</div></li>
{% end %}
{% if tasks %}
<script>
  $(".get-lixian-url").fancybox({ width: 700 });
</script>
{% end %}
